.body {
  font-family: 'Raleway';
}

.is-Lato {
  font-family: 'Lato';
}




/* PC */
@media screen and (min-width:1200px){
  /*画面幅が781px以上の時*/
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}



/* header部分のスタイル */

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  margin: 0;
  background-color: #fff;
}

.header-box {
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px 0;
}

.fa-bolt {
  font-size: 3em;
}

.button1 {
  float: right;
  display: block;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  cursor: pointer;
}

.button1-inner {
  color: #fff;
  text-decoration: none;
}

.button1-inner:hover {
  transition: 0.3s;
  color: #333;
}

/* main divのスタイル */

.main {
  width: 100%;
  background-color: #f2f2f2;
}

.main-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 250px 0;
}

.main-content-text {
  padding-top: 78px;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center
}

.content-text-inner {
  font-size: 30px;
  margin-top: 20px;
  color: #c0c0c0;
  text-align: center;
}

/* section1のスタイル */

.section1 {
  width: 100%;
  background-color: #74cfae;
}

.section1-box {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
  justify-content: center
}

.section1-box-content {
  padding-left: 100px;
}

.section1-text-box {
  width: 650px;
  text-align: center;
  margin-left: 140px;
  padding-top: 20px;
  color: #fff;
  margin-left: 
}

.section-text {
  /* margin-top: 20px; */
  font-size: 24px;
  /* font-family: 'raleway'; */
  text-align: center
}

.section-text-inner {
  width: 650px;
  font-size: 20px;
  /* text-align: center; */
  margin-top: 35px;
  line-height: 25px;
  box-sizing: border-box;
  word-break: keep-all;
}

/* articleのスタイル */

.article {
  width: 100%;
  background-color: #f2f2f2;
}

.article-body {
  width: 1100px;
  margin: 0 auto;
  padding-top: 60px;
}

.article-textbox1 {
  text-align: center
}

.article-content-text {
  color: #333;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'raleway'
}


.article-conteiner1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}

.conteiner1-inner {
  margin-left: 100px;
}

.conteiner1-inner:nth-child(3n+1) {
  margin-left: 0;
}

.conteiner1-inner:nth-child(-n+3) {
  margin-bottom: 80px;
}

.photobox {
  opacity: 0.7;
  transition: 0.3s;
}

.photobox:hover {
  transition: 0.3s;
  opacity: 1;
}

.article-textbox2 {
  display: flex;
  margin: 0 auto;
  padding-top: 90px;
  justify-content: center;
}


.article-conteinerbox {
  text-align: center;
}

.article-conteinerbox.is-text {
  width: 650px;
  text-align: center;
  margin-right: 90px;
  padding-bottom: 70px;
}

.article-textbox-content.is-inner {
  display: inline-block;
  width: 610px;
  text-align: center;
  color: #333;
  box-sizing: border-box;
  box-sizing: border-box;
  word-break: keep-all;
  font-size: 20px;
  font-family: 'raleway';
}

.conteiner-innerbtn {
  font-size: 12px;
  width: 150px;
  padding: 14px 20px;
  background-color: #74cfae;
  cursor: pointer;
  
}

.article-btn-inner {
  text-decoration: none;
  color: #fff;
}

.article-btn-inner:hover {
  transition: 0.3s;
  color: #333;
}



/* section2のスタイル */


.section2 {
  width: 100%;
  margin: 0;
  background-color: #4e4e4e;
}

.section2-content {
  width: 1100px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

.section2-content-title {
color: #fff;
font-size: 30px;
margin-bottom: 70px;
font-family: 'raleway';
}

.section2-content-inner {
  display: inline-block;
  color: #fff;
  line-height: 26px;
  padding-bottom: 100px;
}

.section2-content-inner:nth-child(n+3){
  margin-left: 180px;
}

.section2-text {
  font-size: 16px;
}

/* navのスタイル */

.nav {
  width: 100%;
  text-align: center;
  padding: 160px 0;
  background-color: #f2f2f2;
}

.nav-content {
  width: 1100px;
  margin: 0 auto;
}

.nav-box {
  display: inline-block;
  padding: 25px 0;
  width: 185px;
  font-size: 50px;
  color: #74cfae;
  cursor: pointer;
  transition: 0.3s;
}

.nav-box:hover {
  transition: 0.3s;
  background-color: #fff;
}

/* footerのスタイル */

.footer {
  width: 100%;
  text-align: center;
  background-color: #74cfae;
}

.footer-text {
  width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-inner {
  text-align: right;
  color: #fff;
}

/* レスポンシブ */

/* TAB */
@media screen and (min-width:768px) and (max-width:1199px){
  
  .button1 {
    display: block;
  }
  
  .header-box {
    width: 97%;
    margin: 0 auto;
  }
  
  .main-content {
    width: 97%;
  }

  .section1-box {
    display: block;
  }

  .section1-box-content {
    padding-left: 0;
    text-align: center;
  }

  .section1-text-box {
    width: 97%;
    text-align: center;
    margin-left: 0;
  }
}







/* SP */
@media screen and (max-width:767px){
}











