.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.body {
  font-family: 'Raleway';
}

.is-Lato {
  font-family: 'Lato';
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

.header-box {
  padding: 15px 0;
}

.button1-inner {
  float: right;
  display: block;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.main {
  background-color: #f2f2f2;
}

.main-content-text {
  color: #74cfae;
}

.content-text-inner {
  color: #c0c0c0;
}

.section1 {
  background-color: #74cfae;
}

.section1-text-box {
  color: #fff;
}

.article {
  background-color: #f2f2f2;
}

.article-content-text {
  color: #333;
}

.article-textbox-content.is-inner {
  color: #333;
}

.article-btn-inner {
  background-color: #74cfae;
  color: #fff;
}

.section2 {
  background-color: #4e4e4e;
}

.section2-content-title {
  color: #fff;
}

.section2-content-inner {
  color: #fff;
}

.nav {
  background-color: #f2f2f2;
}

.nav-box {
  color: #74cfae;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  color: #fff;
}


/* PC */
@media screen and (min-width:1200px){
  /* header部分のスタイル */

  .header {
    position: fixed;
    width: 100%;
    margin: 0;
  }

  .header-box {
    padding: 15px 0;
  }

  .fa-bolt {
    font-size: 3em;
  }

  .hum-menu {
    display: none;
  }

  .button1-inner {
    float: right;
    display: block;
    font-size: 12px;
    padding: 14px 12px;
    cursor: pointer;
    text-decoration: none;
  }

  .button1-inner:hover {
    transition: 0.3s;
  }


  /* main divのスタイル */

  .main {
    width: 100%;
    padding-top: 78px;
  }

  .main-content {
    max-width: 1100px;
    padding: 250px 0;
  }

  .main-content-text {
    font-size: 90px;
    font-weight: 700;
    text-align: center
  }

  .content-text-inner {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
  }

  /* section1のスタイル */


  .section1-box {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: center
  }

  .section1-box-content {
    margin-left: 100px;
  }

  .section1-text-box {
    width: 650px;
    text-align: center;
    margin: 0 auto;
    margin-left: 140px;
    margin-top: 20px;
  }

  .section-text {
    font-size: 24px;
    text-align: center
  }

  .section-text-inner {
    width: 650px;
    font-size: 20px;
    margin-top: 35px;
    line-height: 25px;
    box-sizing: border-box;
    word-break: keep-all;
  }

  /* articleのスタイル */

  .article-body {
    width: 1100px;
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .article-textbox1 {
    text-align: center
  }

  .article-content-text {
    text-align: center;
    font-size: 24px;
  }


  .article-conteiner1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
  }

  .conteiner1-inner {
    margin-left: 100px;
  }

  .conteiner1-inner:nth-child(3n+1) {
    margin-left: 0;
  }

  .conteiner1-inner:nth-child(n+4) {
    margin-top: 80px;
  }

  .photobox {
    opacity: 0.7;
    transition: 0.3s;
  }

  .photobox:hover {
    transition: 0.3s;
    opacity: 1;
  }

  .article-textbox2 {
    display: flex;
    margin-top: 90px;
    justify-content: center;
  }


  .article-conteinerbox {
    text-align: center;
  }

  .article-conteinerbox.is-text {
    text-align: center;
  }

  .article-textbox-content.is-inner {
    display: inline-block;
    width: 610px;
    text-align: center;
    margin-right: 90px;
    box-sizing: border-box;
    box-sizing: border-box;
    word-break: keep-all;
    font-size: 20px;
    font-family: 'raleway';
  }

  .article-btn-inner {
    font-size: 12px;
    width: 100px;
    height: 15px;
    text-align: center;
    padding: 14px 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .article-btn-inner:hover {
    transition: 0.3s;
    color: #333;
  }

  /* section2のスタイル */


  .section2 {
    width: 100%;
  }

  .section2-content {
    width: 1100px;
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
  }

  .section2-content-title {
  font-size: 30px;
  margin-bottom: 70px;
  font-family: 'raleway';
  }

  .section2-content-inner {
    display: inline-block;
    line-height: 26px;
  }

  .section2-content-inner:nth-child(n+3){
    margin-left: 180px;
  }

  .section2-text {
    font-size: 16px;
  }

  /* navのスタイル */

  .nav {
    width: 100%;
    text-align: center;
  }

  .nav-content {
    width: 1100px;
    padding: 160px 0;
    text-align: -webkit-center;
  }

  .nav-box {
    display: inline-block;
    padding: 25px 0;
    width: 185px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
  }

  .nav-box:hover {
    transition: 0.3s;
    background-color: #fff;
  }

  /* footerのスタイル */

  .footer {
    width: 100%;
  }

  .footer-text {
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .footer-inner {
    text-align: right;
  }
}


/* レスポンシブ */

/* TAB */
@media screen and (min-width:768px) and (max-width:1199px){

  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .button1 {
    display: block;
  }

  .header {
    position: fixed;
    margin: 0;
  }

  .header-box {
    padding: 15px 0;
  }

  .fa-bolt {
    font-size: 3em;
  }

  .hum-menu {
    display: none;
  }

  .button1-inner {
    float: right;
    display: block;
    font-size: 12px;
    padding: 14px 12px;
    cursor: pointer;
    text-decoration: none;
  }

  .main {
    padding-top: 78px;
  }

  .main-content {
    max-width: 1100px;
    padding: 250px 0;
  }

  .main-content-text {
    font-size: 90px;
    font-weight: 700;
    text-align: center
  }

  .content-text-inner {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
  }

  .section1-box {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 25px;
    justify-content: center
  }

  .section1-box-content {
    margin-left: 0;
    text-align: center;
  }

  .section1-text-box {
    width: 97%;
    text-align: center;
    margin: 0 auto;
  }

  .section-text {
    margin-top: 20px;
    font-size: 24px;
    text-align: center
  }

  .section-text-inner {
    width: 650px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 35px;
    line-height: 25px;
  }

  .article-body {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .article-textbox1 {
    text-align: center
  }

  .article-content-text {
    color: #333;
    text-align: center;
    font-size: 24px;
  }


  .article-conteiner1 {
    display: block;
    flex-wrap: nowrap;
    margin-top: 40px;
    justify-content: center;
  }

  .conteiner1-inner {
    margin-left: 0;
    text-align: center;
  }

  .conteiner1-inner:nth-child(3n+1) {
    margin-left: 0;
  }

  .conteiner1-inner:nth-child(n+4) {
    margin-top: 80px;
  }

  .conteiner1-inner:nth-child(n+5) {
    margin-top: 0;
  }

  .photobox {
    opacity: 0.7;
    transition: 0.3s;
  }

  .photobox:hover {
    transition: 0.3s;
    opacity: 1;
  }

  .article-textbox2 {
    display: block;
    margin-top: 80px;
    justify-content: center;
  }


  .article-conteinerbox {
    text-align: center;
  }

  .article-conteinerbox.is-text {
    text-align: center;
  }

  .article-textbox-content.is-inner {
    display: inline-block;
    width: 610px;
    text-align: center;
    margin-right: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    word-break: keep-all;
    font-size: 20px;
    font-family: 'raleway';
  }

  .article-btn-inner {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 12px;
    width: 100px;
    height: 15px;
    text-align: center;
    padding: 14px 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .section2-content {
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
  }

  .section2-content-title {
  font-size: 30px;
  margin-bottom: 50px;
  font-family: 'raleway';
  }

  .section2-content-inner {
    display: block;
    line-height: 26px;
  }

  .section2-content-inner:nth-child(n+3){
    margin-left: 0;
    margin-top: 88px;
  }

  .section2-text {
    font-size: 16px;
  }

  .nav {
    text-align: center;
  }

  .nav-content {
    padding: 160px 0;
    text-align: -webkit-center;
  }

  .nav-box {
    display: table-cell;
    padding: 25px 0;
    width: 185px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
  }

  .footer-text {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .footer-inner {
    text-align: right;
  }
}


/* SP */
@media screen and (max-width:767px){

  #contactbtn {
    display: none;
  }

  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .header {
    margin: 0;
  }

  .header-box {
    padding: 15px 0;
  }

  .fa-bolt {
    font-size: 3em;
  }

  .button1-inner {
    float: right;
    display: block;
    font-size: 12px;
    padding: 14px 12px;
    cursor: pointer;
    text-decoration: none;
  }

  .picture {
    float: right;
  }

  .hum-menu {
    float: right;
    width: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .fa-bars {
    color: #ddd;
  }

  .main {
    width: 100%;
  }

  .main-content {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .main-content-text {
    font-size: 90px;
    font-weight: 700;
    text-align: center
  }

  .content-text-inner {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-family: none;
  }

  /* section1のスタイル */

  .section1-box {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 25px;
    justify-content: center
  }

  .section1-box-content {
    margin-left: 0;
    text-align: center;
  }

  .section1-text-box {
    width: 97%;
    margin-left: 0;
    text-align: center;
    margin: 0 auto;
  }

  .section-text {
    margin-top: 20px;
    font-size: 24px;
    text-align: center
  }

  .section-text-inner {
    width: 97%;
    margin: 0 auto;
    margin-top: 35px;
    font-size: 20px;
    line-height: 25px;
    box-sizing: border-box;
    word-break: keep-all;
  }

  /* articleのスタイル */

  .article-body {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .article-textbox1 {
    text-align: center
  }

  .article-content-text {
    text-align: center;
    font-size: 24px;
  }


  .article-conteiner1 {
    display: block;
    text-align: center;
    margin-top: 40px;
    justify-content: center;
  }

  .conteiner1-inner {
    margin-left: 0;
    text-align: center;
  }

  .conteiner1-inner:nth-child(3n+1) {
    margin-left: 0;
  }

  .conteiner1-inner:nth-child(n+4) {
    margin-top: 80px;
  }

  .conteiner1-inner:nth-child(n+5) {
    margin-top: 0;
  }

  .photobox {
    opacity: 0.7;
  }


  .article-textbox2 {
    display: block;
    margin-top: 90px;
    justify-content: center;
  }


  .article-conteinerbox {
    text-align: center;
  }

  .article-conteinerbox.is-text {
    text-align: center;
  }

  .article-textbox-content.is-inner {
    width: 97%;
    display: inline-block;
    text-align: center;
    margin-right: 90px;
    line-height: 1.4;
    box-sizing: border-box;
    box-sizing: border-box;
    word-break: keep-all;
    font-size: 20px;
    font-family: 'raleway';
  }

  .article-btn-inner {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 12px;
    width: 100px;
    height: 15px;
    text-align: center;
    padding: 14px 20px;
    cursor: pointer;
    text-decoration: none;
  }


  /* section2のスタイル */


  .section2 {
    width: 100%;
  }

  .section2-content {
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
  }

  .section2-content-title {
  font-size: 30px;
  margin-bottom: 70px;
  font-family: 'raleway';
  }

  .section2-content-inner {
    display: block;
    line-height: 26px;
  }

  .section2-content-inner:nth-child(n+3){
    margin-left: 0;
    margin-top: 100px;
  }

  .section2-text {
    font-size: 16px;
  }

  /* navのスタイル */

  .nav {
    width: 97%;
    text-align: center;
  }

  .nav-content {
    padding: 50px 0;
    text-align: -webkit-center;
  }

  .nav-box {
    display: inline-block;
    padding: 25px 0;
    width: 185px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
  }

  /* footerのスタイル */

  .footer-text {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .footer-inner {
    text-align: right;
  }
}